<a href="https://colab.research.google.com/github/carlosmarrufo2e25-cloud/probabilidad/blob/main/practica3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### probabilidad y etadistica
## unidad 1
# Facilitador: Jose Gabriel Rodrigez Rivas
#Alumno: Marrufo Guzman Carlos Antoine
** practica 3:

In [25]:
import random
import statistics as stats
edades=[]
for i in range(100):
  na=random.randint(18,70)
  edades.append(na)
print(edades)

[58, 44, 20, 65, 23, 57, 56, 63, 22, 49, 21, 23, 20, 25, 56, 41, 65, 56, 36, 50, 55, 60, 32, 51, 47, 32, 66, 56, 53, 62, 32, 70, 43, 69, 36, 54, 62, 42, 55, 49, 49, 50, 33, 27, 47, 49, 19, 58, 44, 25, 19, 32, 27, 48, 54, 50, 61, 53, 61, 27, 42, 24, 33, 43, 35, 53, 35, 34, 42, 28, 57, 68, 69, 55, 25, 29, 64, 57, 35, 66, 63, 70, 37, 20, 35, 39, 64, 47, 59, 49, 28, 35, 51, 42, 56, 18, 28, 37, 22, 70]

In [26]:
import pandas as pd

In [27]:
df = pd.DataFrame(edades, columns=['Edad'])
df.head()

   Edad
0    58
1    44
2    20
3    65
4    23

In [28]:
tabla_fecuancias= df['Edad']. value_counts().reset_index()
tabla_fecuancias.columns = ['Edad', 'Frecuancias']
tabla_fecuancias = tabla_fecuancias.sort_values(by='Edad')
print("tabla de distribucion de frecuancias")
tabla_fecuancias

tabla de distribucion de frecuancias

    Edad  Frecuancias
43    18            1
31    19            2
10    20            3
33    21            1
21    22            2
15    23            2
37    24            1
11    25            3
12    27            3
13    28            3
40    29            1
3     32            4
32    33            2
36    34            1
2     35            5
26    36            2
29    37            2
41    39            1
34    41            1
4     42            4
25    43            2
16    44            2
8     47            3
38    48            1
0     49            5
9     50            3
27    51            2
7     53            3
30    54            2
14    55            3
1     56            5
5     57            3
17    58            2
42    59            1
35    60            1
20    61            2
22    62            2
19    63            2
28    64            2
18    65            2
23    66            2
39    68            1
24    69            2
6     70            3

In [29]:
tabla_fecuancias['frec relativa'] = tabla_fecuancias['Frecuancias'] / 100
tabla_fecuancias

    Edad  Frecuancias  frec relativa
43    18            1           0.01
31    19            2           0.02
10    20            3           0.03
33    21            1           0.01
21    22            2           0.02
15    23            2           0.02
37    24            1           0.01
11    25            3           0.03
12    27            3           0.03
13    28            3           0.03
40    29            1           0.01
3     32            4           0.04
32    33            2           0.02
36    34            1           0.01
2     35            5           0.05
26    36            2           0.02
29    37            2           0.02
41    39            1           0.01
34    41            1           0.01
4     42            4           0.04
25    43            2           0.02
16    44            2           0.02
8     47            3           0.03
38    48            1           0.01
0     49            5           0.05
9     50            3           0.03
27    51            2           0.02
7     53            3           0.03
30    54            2           0.02
14    55            3           0.03
1     56            5           0.05
5     57            3           0.03
17    58            2           0.02
42    59            1           0.01
35    60            1           0.01
20    61            2           0.02
22    62            2           0.02
19    63            2           0.02
28    64            2           0.02
18    65            2           0.02
23    66            2           0.02
39    68            1           0.01
24    69            2           0.02
6     70            3           0.03

In [30]:
tabla_fecuancias['frec porcentual'] = tabla_fecuancias['Frecuancias'] / 100 * 100
tabla_fecuancias

    Edad  Frecuancias  frec relativa  frec porcentual
43    18            1           0.01              1.0
31    19            2           0.02              2.0
10    20            3           0.03              3.0
33    21            1           0.01              1.0
21    22            2           0.02              2.0
15    23            2           0.02              2.0
37    24            1           0.01              1.0
11    25            3           0.03              3.0
12    27            3           0.03              3.0
13    28            3           0.03              3.0
40    29            1           0.01              1.0
3     32            4           0.04              4.0
32    33            2           0.02              2.0
36    34            1           0.01              1.0
2     35            5           0.05              5.0
26    36            2           0.02              2.0
29    37            2           0.02              2.0
41    39            1           0.01              1.0
34    41            1           0.01              1.0
4     42            4           0.04              4.0
25    43            2           0.02              2.0
16    44            2           0.02              2.0
8     47            3           0.03              3.0
38    48            1           0.01              1.0
0     49            5           0.05              5.0
9     50            3           0.03              3.0
27    51            2           0.02              2.0
7     53            3           0.03              3.0
30    54            2           0.02              2.0
14    55            3           0.03              3.0
1     56            5           0.05              5.0
5     57            3           0.03              3.0
17    58            2           0.02              2.0
42    59            1           0.01              1.0
35    60            1           0.01              1.0
20    61            2           0.02              2.0
22    62            2           0.02              2.0
19    63            2           0.02              2.0
28    64            2           0.02              2.0
18    65            2           0.02              2.0
23    66            2           0.02              2.0
39    68            1           0.01              1.0
24    69            2           0.02              2.0
6     70            3           0.03              3.0